[submodule "fmriprep"]
	path = fmriprep
	url = git@github.com:courtois-neuromod/cneuromod.fmriprep.git
	datalad-id = 3dd10ddd-5485-4ab1-8751-48d3b8d984cf
	branch = .
[submodule "smriprep"]
	path = smriprep
	url = git@github.com:courtois-neuromod/anat.smriprep.git
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	branch = .
